<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="stylesheet" href="{{ asset('css/lib/tailwind.min.css') }}">
		<link rel="stylesheet" href="{{ asset('css/monaco-editor.css') }}">
		<!-- Monaco Editor resources -->
		<script src="{{ asset('js/lib/monaco-editor/vs/loader.js') }}"></script>
		<script>
			require.config({ paths: { 'vs': '{{ asset('js/lib/monaco-editor/vs') }}' }});
			window.MonacoEnvironment = {
				getWorkerUrl: function(workerId, label) {
					return '{{ asset('js/lib/monaco-editor/vs/base/worker/workerMain.js') }}';
				}
			};
		</script>
		<script src="{{ asset('js/monaco-editor-setup.js') }}" defer></script>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body class="bg-gray-100 min-h-screen">
		<turbo-frame id="main">
			{% block body %}{% endblock %}
		</turbo-frame>
	</body>
</html>
